html body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  position: relative;
  z-index: -1;
  overflow: hidden;
  color: aliceblue;

}

header {
  display: flex;
  height: 5%;
  background-color:rgb(15, 32, 99);
  border: .5vh solid black;
  justify-content:center;

}

header h1{
  margin: 0;
  margin-left: 1em;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;

}

.dropdown-items{
    width: 100%;
}

main {
  display: flex;
  height: 90%;
  background-color: #FBECB2;
  align-items: center;
  position: relative;
  z-index: -1;

}
#art-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  background-image: url(./Assets/retroBackground.jpg);
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: -1;
}
/* https://wallpapercave.com/w/wp5524296-- Uploaded by  gwenizard*/
#tool-bar{
  height: 100%;
  width: 10%;
  background-color: rgb(15, 32, 99);
  border: .5vh solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.tools{
  margin-left: 10%;
  width: 30%;
  background-color:aliceblue
  
}
.icon{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
#canvas-back{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  aspect-ratio: 1 / 1; 
  box-sizing:border-box;
  box-shadow: 0px 0px 10px 10px #000000;
  position: relative;
  z-index: -2;
  color: rgb(226, 226, 226);
  
}

#canvas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 1 / 1; 
    box-sizing:border-box;
    position: absolute;
    z-index: -1;    
}
#color-bar{
  background-color: rgb(15, 32, 99);
  height: 100%;
  width: 10%;
  border: .5vh solid black;
  display: flex;
  flex-direction: column;
}
#palette{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-height: 30%;
    margin-left: 10%;
    margin-right: 10%;
/* Adjust the number of columns as needed */
}
#color-picker{
  width: 100%;
  height: 100%;
  opacity: 0;
  
}
#selected-color{
  width: 40%;
  aspect-ratio: 1 / 1; 
  background-color: blue;
  margin-left: 10%;
  box-sizing:border-box;
  border: .2em solid black;

}

footer{
  height: 5%;
  background-color: rgb(15, 32, 99);
  border: .5vh solid black;
  color: rgba(255, 255, 255, 0.952)
}
