html body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  position: relative;
  z-index: -1;
  overflow: hidden;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;

}

body button:hover{
  cursor: pointer;
}
body button{
  border: .2em solid black;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
header {
  display: flex;
  height: 5%;
  background-color:rgb(58, 121, 173);
  border: .5vh solid black;
  justify-content:center;
  font-size: 1rem;

}

header h1{
  margin: 0;
  margin-left: 12em;
  margin-right: 15em;
  font-size: 2vw;
}

.dropdown{
  /* position: relative; */
  height: 100%;
  margin: 0;
  margin-right: 1em

}

.dropdown-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  margin: 0;
  
  

}
.dropbtn{
  height: 100%;
  box-sizing:border-box;
  background-color: aliceblue;
  font-size: 1vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 100%;

}

.dropbtn:hover{
  background-color: rgb(137, 154, 168);
}


.dropdown-items{
  display:flex;
  min-width: 10em;
}

.dropdown-item:hover{
  background-color: rgb(137, 154, 168);
}

.dropdown-item{
  width: 80%;
  height: 100%;
  background-color: aliceblue;
}

.dropdown-remove{
  width: 20%;
  height: 100%;
  background-color: darkred;
}
.dropdown-remove:hover{
  background-color: rgb(88, 2, 2);
}


main {
  display: flex;
  height: 90%;
  background-color: #FBECB2;
  align-items: center;
  position: relative;
  z-index: -1;
  font-size: 1vw;

}
#art-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  background-image: url(./Assets/retroBackground.jpg);
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: -1;
}

#tool-bar{
  height: 100%;
  width: 10%;
  background-color: rgb(15, 32, 99);
  border: .5vh solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.tools{
  margin-left: 10%;
  width: 30%;
  background-color:aliceblue
  
}
.tools:hover{
  background-color: rgb(137, 154, 168);;
}
.icon{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
#canvas-back{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  aspect-ratio: 1 / 1; 
  box-sizing:border-box;
  box-shadow: 0px 0px 10px 10px #000000;
  position: relative;
  z-index: -2;
  color: rgb(226, 226, 226);
  
}

#canvas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 1 / 1; 
    box-sizing:border-box;
    position: absolute;
    z-index: -1;    
}

.tile:hover{
  filter: invert(.2);
  cursor:crosshair
}

#color-bar{
  background-color: rgb(15, 32, 99);
  height: 100%;
  width: 10%;
  border: .5vh solid black;
  display: flex;
  flex-direction: column;
}
#color-bar h2{
  margin-left: 1em;
}
#palette{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-height: 30%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#palette:hover{
  cursor: pointer;
}

#palette::-webkit-scrollbar {
  width: .5em; /
}

#palette::-webkit-scrollbar-thumb {
  background: black;
  border-radius: .25em; 
}

#palette::-webkit-scrollbar-track {
  background: transparent; 
}

#palette::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
#color-picker{
  width: 100%;
  height: 100%;
  opacity: 0;
  
}
#selected-color{
  width: 40%;
  aspect-ratio: 1 / 1; 
  background-color: blue;
  margin-left: 30%;
  box-sizing:border-box;
  border: .4em solid black;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
#color-picker:hover{
  cursor: pointer;
}
.empty:hover{
  cursor: not-allowed;
}

footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5%;
  background-color: rgb(58, 121, 173);
  border: .5vh solid black;
  color: rgba(255, 255, 255, 0.952)
}

footer h5{
  font-size: .8vw;
  margin: 0;
}
